[submodule "mods/5zig"]
	path = mods/5zig
	url = https://github.com/5zig-reborn/The-5zig-Mod.git
[submodule "mods/Custom-Main-Menu"]
	path = mods/Custom-Main-Menu
	url = https://github.com/lumien231/Custom-Main-Menu.git
[submodule "mods/OldAnimations"]
	path = mods/OldAnimations
	url = https://github.com/Sk1erLLC/OldAnimations.git
[submodule "mods/Patcher"]
	path = mods/Patcher
	url = https://github.com/Sk1erLLC/Patcher.git
[submodule "mods/Resource-Loader"]
	path = mods/Resource-Loader
	url = https://github.com/lumien231/Resource-Loader.git
[submodule "mods/ScrollableTooltips"]
	path = mods/ScrollableTooltips
	url = https://github.com/Sk1erLLC/ScrollableTooltips.git
[submodule "mods/SimpleToggleSprint"]
	path = mods/SimpleToggleSprint
	url = https://github.com/My-Name-Is-Jeff/SimpleToggleSprint.git
[submodule "mods/TNTTime"]
	path = mods/TNTTime
	url = https://github.com/Sk1erLLC/TNTTime.git
[submodule "mods/ReplayMod"]
	path = mods/ReplayMod
	url = https://github.com/ReplayMod/ReplayMod.git
[submodule "mods/Not-So-Essential"]
	path = mods/Not-So-Essential
	url = https://github.com/Scherso/NotSoEssential
